.DetailInfoLine {
    margin-left: 45px;
    font-size: 15px;
    font-weight: 200;
    font-family:Arial, Helvetica, sans-serif;
}

.DetailNameLine {
    margin-left: 20px;
    font-size:20px;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
}

.Poster {
	max-height: 450px;
	max-width: 300px;
}